[submodule "tmidb-core"]
	path = tmidb-core
	url = https://github.com/poi0322/tmidb-core.git
	branch = main
[submodule "tmidb-mqtt"]
	path = tmidb-mqtt
	url = https://github.com/poi0322/tmidb-mqtt.git
	branch = main
[submodule "tmidb-realtime"]
	path = tmidb-realtime
	url = https://github.com/poi0322/tmidb-realtime.git
	branch = main
